html {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Noto Serif', 'Open Sans', sans-serif;
    font-size: 14px;
}

body {
    margin: 0px;
    background-color: #e8e8e8;
    color: #1c1c1c;
}

main {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #9b1700;
}

a:hover {
    color: #1c1c1c;
}

  /* Cabecera */


header::after {
    content: "";
    clear: both;
    display: block;
}

header {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header img {
  max-width: 60px;
}

header nav {
    text-align: center;
    align-self: center;
}

header nav ul {
    display: inline-block;
    padding: 0px;
    overflow: hidden;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav li a {
    color: #1c1c1c;
    text-decoration:none;
}

nav li a:hover {
    color: rgba(28, 28, 28, 0.5);
}

.link-button {
    background-color:#9b1700;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    width: 100px;
    height: 20px;
    margin-right: 20px;
    justify-self: end;
    align-self: center;
}

.link-button:hover {
    color: #1c1c1c;
}

.logo-oscars {
    display: flex;
    align-items:center;
    margin-left: 20px;
}

.logo-oscars p{
    font-size: 2rem;
    margin-left: 10px;
}

.red {
    color: #9b1700;
}

/* Main */

/* index */

.index-oscar-club {
    margin-left: 20%;
    margin-right: 20%;
}

.how-use img {
    max-width: 120px;
}

.how-use {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.index-unete {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.index-unete-text{
    font-size: 1.5rem;
    text-align: left;
}

.index-unete form input{
    display: block;
    height: 40px;
    width: 100%;
    margin-bottom: 8px;
}

.index-unete form div {
    display: block;
    font-size: 0.75rem;
    text-align: left;
  }

.form-checkbox {
    display: block;
}

.index-unete .form-checkbox input{
    margin-top: 30px;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.index-unete .form-checkbox label{
    display: inline;
}

.index-unete form input[type="submit"] {
    border: 0px;
    background-color: #9b1700;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 150px;
}

/* Clubes tematicos */

.clubes-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
}

.club-item {
    margin: 0px 10px 20px 10px;
}

.club-item img {
    width: 100%;
}

/* Sesiones 2020 */

.sesiones {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
}

.text-left{
    text-align: left;
}
.sesiones-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 2px dotted #9b1700;
}

.sesiones-nav a{
    display: block;
    color: #1c1c1c;
}

.sesiones-nav a:hover{
    color: rgba(28, 28, 28, 0.5);
}

.sesiones-nav-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sesiones-nav-item img {
    max-width: 100%;
}

.sesiones-nav-item div{
    background-color: white;
    margin: 10px;
}

.sesiones-nav-item div a{
    display: block;
}

/* Detalle sesion */

/* Style the list */
ul.breadcrumb {
    list-style: none;
    text-align: left;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: rgb(28, 28, 28, 0.5);
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: rgb(28, 28, 28);
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: rgb(28, 28, 28, 0.5);
  }

  .detalle-sesion-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  dd {
      margin: 5px 20px 5px 10px;
  }

  dt {
    font-weight: bold;
    border-bottom: 1px solid #1c1c1c;
    margin: 5px 20px 5px 0px;
  }

    figure{
        float:left;
        max-width: 120px;
        max-height: 120px;
        shape-outside: circle();
        margin: 0px;
        margin-right: 10px;
        overflow: hidden;
    }
    figure img{
        max-width: 100%;
        border-radius: 50%;
    }

    .clear {
        clear: both;
    }

    .video-breadcrumb {
        margin-top: 0px;
    }


/* Pie de pagina */

footer {
    font-family: 'Open Sans', sans-serif;
    padding-top: 30px;
    background-color: #433A44;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
}

footer a:hover {
    color:#9b1700;
}

footer div ul {
    padding: 0px;
}

footer div ul li {
    display: inline-block;
    margin-left: 20px;
}

footer div ul li::after {
    content: "•";
    display: inline-block;
    padding: 8px 0px 8px 20px;
}

footer div ul li:last-child::after {
    content: "";
}

footer p {
    text-align: left;
}

.footer-links {
    justify-self: left;
}

.footer-rrss {
    justify-self: right;
    margin-right: 20px;
}

.wedge {
    justify-self: right;
    align-self: flex-end;
    margin-right: 20px;
}

.author {
    justify-self: left;
    margin-left: 20px;
}

/* Media queries */

@media screen and (max-width: 600px) {
    /* Cabecera */
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "a"
                            "b"
                            "c";
    }

    .logo-oscars {
        grid-area: b;
        justify-self: center;
        align-self: center; 
        margin-top: 10px;
    }

    .link-button {
        grid-area: a;
        margin-top: 10px;
        justify-self: center;
    }

    header nav ul {
        grid-area: c;
        display: block;
        overflow: hidden;
        margin-bottom: 60px;
    }
    
    nav li {
        display: block;
        margin-top: 10px;
    }

    /* Main */

    main {
        margin-left: 10px;
        margin-right: 10px;
      }

    /* index */
    .index-oscar-club {
        margin-left: 0%;
        margin-right: 0%;
    }

    .how-use {
        display: grid;
        grid-template-columns: 1fr;
      }

    .index-unete {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* Clubes tematicos */

    .clubes-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* Sesiones 2020 */

    .sesiones {
        margin-left: 0%;
        margin-right: 0%;
    }

    .sesiones-section {
        display: grid;
        grid-template-columns: 1fr;
        border-top: 0px;
    }

    .sesiones-nav-item {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sesiones-nav-item div{
        background-color: white;
        margin-left: 20%;
        margin-right: 20%;
    }

    .sesiones-nav-item div:last-child{
        margin-bottom: 40px;
    }


    /* Pie de pagina */
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "a"
                            "b"
                            "c";
    }
    
    footer div ul li {
        display: block;
        margin-left: 20px;
    }

    footer div ul li::after {
        content: "";
    }
    
    footer p {
        text-align: center;
    }
    
    .footer-links {
        grid-area: a;
        justify-self: center;
    }
    
    .footer-rrss {
        grid-area: b;
        justify-self: center;
    }
    
    .wedge {
        grid-area: c;
        justify-self: right;
        align-self: flex-end;
        margin-right: 20px;
    }
    
    .author {
        grid-area: c;
        justify-self: center;
    }
}